
  .laptop {
    width: auto;
    height: auto;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.laptop .header-div {
  /* border: solid 3px red; */
  background-color: white;
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  /* width: 100vw; */
  /* display: grid; */
  /* grid-template-columns: 50% 50%; */
  font-size: 1rem;
}

.laptop .header-logo {
  /* border: chartreuse solid 3px; */
  margin-top: 3vh;
  margin-left: 2vh;
  width: 20vw;
  display: flex;
  /* height: fit-content; */
  /* justify-content: flex-start; */
}

.laptop .nav-links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.75em;
  text-decoration: none;
}

.laptop .nav-links {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65vw;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.laptop .bio-pic {
/* border: solid 3px yellow; */
height: 35vh;
width: auto;
margin-top: 2.5vh;
margin-left: 4vh;
}

.laptop .pic-stack {
  /* border: pink solid 5px; */
  box-sizing: content-box;
  width: auto;
  height: 45vh;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.laptop .tech-stack-div {
  /* border: 2px green solid; */
  text-align: justify;
  font-family: Modern Sans;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* place-content: end space-between; */
  width: 80vw;
  height: 40vh;
  /* margin: auto; */
}

.laptop .tech-column-1, .tech-column-2 {
  /* border: solid 2px orange; */
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  padding: 1%;
  /* margin-top: 3.5vh; */
  width: 35vw;
  /* height: 25vh; */
  align-items: center;
  justify-content: center;
}

.laptop h5 {
  /* border: solid 1px black; */
  margin: auto;
  font-size: 1.5em;
  line-height: 1.25em;
}

.laptop main {
  /* border: solid 4px blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.laptop .bio-text {
  /* border: solid purple 3px; */
  height: 30vh;
  margin-top: -7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.laptop p {
  margin: 1.5vw;
  width: auto;
  font-family: Modern Sans;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.5rem;
  word-spacing: -.4rem;
}
