.laptop {
    width: 1024px;
   margin: 0% auto;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.header-div {
  background-color: white;
  border: solid 3px red;
  min-height: 10vh;
  width: 1024px;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 1rem;
}

.bio-pic {
border: solid 3px yellow;
height: auto;
margin: 10px;
display: flex;
}

.header-logo {
  border: chartreuse solid 3px;
  max-height: auto;
  width: 100%;
  justify-content: flex-start;
}

.bio-text {
  border: solid purple 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  margin: 10px;
  font-family: Modern Sans;
  font-size: 20px;
  width: auto;
}

main {
  border: solid 4px blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1024px;
}

.p-div {
  border: orange solid 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
}

.nav-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.15rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: solid 1px black
}


.pic-stack {
  border: pink solid 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 50% 50%;
}

.tech-stack-div {
  /* border: 2px green solid; */
  text-align: justify;
  font-family: Modern Sans;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.list-title {
  font-weight: 400;
  font-size: medium;
  margin: 0;
}

ul, li {
  list-style-type: none;
  margin-right: 10px;
  margin-left: -7px;
}

.list-subtitle {
  font-weight: 200;
  font-size: small;
  margin: 5px;
  margin-left: -5px;
}

li {
  font-size: small;
}

