/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}  */

.header-div {
  background-color: white;
  border: solid 3px red;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.15rem;
  color: red;
}

.bio-pic {
border: solid 3px yellow;
height: 650px;
margin: 10px;
display: flex;
align-items: flex-start;
}

.header-logo {
  height: 20vh;
  justify-content: flex-start;
}

.bio-text {
  border: solid purple 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dev-logo {
  border: 8px green solid;
  height: 450px;
  width: auto;
  /* margin: 10px; */
}

p {
  margin: 10px;
  font-family: Modern Sans;
  font-size: 20px;
  width: 75vh;
}

main {
  border: solid 4px blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.p-div {
  border: orange solid 5px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

NavLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.15rem;
}
