/* .App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.header-div {
  background-color: white;
  border: solid 3px red;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: 1.15rem;
  color: red;
}

.bio-pic {
  border: solid 3px yellow;
height: 700px;
}

main {
  border: solid 4px blue;
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
