/* @media screen and (max-width: 1223) { */
  
.mobile {
  width: 420px;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.mobile .header-div {
  border: solid 3px red;
  min-height: 5vh;
  box-sizing: content-box;
  width: auto;
  display: flex;
  flex: 50%;
}

.mobile .header-logo {
  /* border: solid chartreuse 3px; */
  /* max-height: auto; */
  width: 45vw;
  /* justify-content: center; */
  margin-left: 5vw;
}

.mobile .nav-links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  font-size: .85em;
  text-decoration: none;
  line-height: 2em;
}

.mobile .nav-links {
    width: 60vw;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;

  /* align-items: baseline; */
  justify-content: space-evenly;
  margin: auto;
  /* align-content: flex-end; */
  /* margin-right: 42px; */
  /* border: solid 1px black */
}


.mobile .bio-pic {
/* border: solid 3px yellow; */
height: 25vh;
width: auto;
margin: 5px;
margin-top: 40px;
margin-left: 15px;
display: flex;
}


.mobile .bio-text {
  /* border: solid purple 5px; */
  display: flex;
  flex-direction: column;
  align-content: center;
}

.mobile p {
  margin: 10px;
  font-family: Modern Sans;
  font-size: 20px;
  width: auto;
}

.mobile main {
  /* border: solid 3px blue; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 420px;
}

.mobile .p-div {
  /* border: orange solid 5px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: justify;
}


.mobile .pic-stack {
  border: pink solid 5px;
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 50% 50%;
}

.mobile .tech-stack-div {
  /* border: 2px green solid; */
  text-align: justify;
  font-family: Modern Sans;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.mobile .list-title {
  font-weight: 400;
  font-size: medium;
  margin: 0;
}

.mobile ul, .mobile li {
  list-style-type: none;
  margin-right: 10px;
  margin-left: -7px;
}

.mobile .list-subtitle {
  font-weight: 200;
  font-size: small;
  margin: 5px;
  margin-left: -5px;
}

.mobile li {
  font-size: small;
}

/* } */

