.mobile{
    width: 420px;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.header-div {
  background-color: white;
  /* border: solid 3px red; */
  min-height: 10vh;
  width: 420px;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: .5em;
}

.bio-pic {
/* border: solid 3px yellow; */
height: 220px;
width: 175px;
margin: 5px;
margin-top: 40px;
margin-left: 15px;
display: flex;
}

.header-logo {
  /* border: solid chartreuse 3px; */
  max-height: 30vh;
  width: 100%;
  justify-content: flex-start;
}

.bio-text {
  /* border: solid purple 5px; */
  display: flex;
  flex-direction: column;
  align-content: center;
}

p {
  margin: 10px;
  font-family: Modern Sans;
  font-size: 20px;
  width: auto;
}

main {
  /* border: solid 3px blue; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 420px;
}

.p-div {
  /* border: orange solid 5px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: justify;
}

.nav-links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2em;
  text-decoration: none;
  line-height: 1.1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  align-content: flex-end;
  margin-right: 42px;
  /* border: solid 1px black */
}

.pic-stack {
  border: pink solid 5px;
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 50% 50%;
}

.tech-stack-div {
  /* border: 2px green solid; */
  text-align: justify;
  font-family: Modern Sans;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.list-title {
  font-weight: 400;
  font-size: medium;
  margin: 0;
}

ul, li {
  list-style-type: none;
  margin-right: 10px;
  margin-left: -7px;
}

.list-subtitle {
  font-weight: 200;
  font-size: small;
  margin: 5px;
  margin-left: -5px;
}

li {
  font-size: small;
}
